* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

nav {
    border-bottom: solid 4px black;
    margin-bottom: 58px;
}

.logo {
    display: inline-block;
    margin: 10px;
    size: 10px;
}

.links ul li a{
    text-decoration: none;
    font-family: system-ui;
}

li {
    display: inline-block;
    font-size: 22px;
    margin: 8px;
}

.logo p{
    font-family: serif;
    padding: 10px;
}

.logo p a{
    font-size: 44px;
    text-decoration: none;
}

.links {
    display: inline-block;
    margin-top: 28px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    /* max-width: 400px; */
    max-width: 370px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.radio-group {
    margin-bottom: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.container p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}