server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

app:
  jwt:
    issuer: unqueue
    access-token-minutes: 15
    refresh-token-days: 14
    secret: ${APP_JWT_SECRET}
